/* body {
    background-image: url('img/IMG_0789.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  } */
body{
    background-color: rgba(0, 0, 0,0.9);
}
#add{
    width: 100%;
    height: 400px;
    margin: none;
    padding: none;
}
#all{
    width: 100;
}
#address{
    background-color: teal;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 25%; */
    font-size: 30px;
    /* margin: none; */
    /* padding: none; */
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
}
#address:hover{
    background-color: brown;
}
#biograph{
    background-color:rgb(73, 156, 184);
    border-radius: 20px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
    /* padding: 10px; */
    text-align: left;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}
#biograph:hover{
    background-color: aqua;
}
#image{
    /* border: black 10px; */
    width: 30%;
    height: 30%;
    border-radius: 50%;

}
.model{
    color: aqua;
    text-align: center;
}
#row{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    text-align: center;
}
.ads{
    width: 15%;
    background-color: darkkhaki;
    border-radius: 20px;
    font-size: 27px;

}
#description{
    width: 70%;
    /* background-color: aqua; */
    text-align: left;
    font-size: large;
    border-radius: 20px;
    margin: 10px;
}
hr{
    color: rgb(56, 16, 119);
}
#Qualification{
    background-color: rgb(34, 135, 148);
    border-radius: 20px;
    color: rgb(59, 50, 50);
    text-align: center;
}
#Languages{
    background-color: rgb(34, 135, 148);
    border-radius: 20px;
    text-align: center;
}
#PracticalExperiences{
    background-color: rgb(34, 135, 148);
    border-radius: 20px;
    text-align: center;
}

#model{
    text-align: center;
    /* background-color: teal; */
    border-radius: 50px;
    
}
.color{
    background: blueviolet;
    background-position: 50px;   
    border-radius: 50px; 
    text-align: center;
}
#icdl{
    text-align: center;
}
#army{
    text-align: center;
}
#footer{
    background-color: brown;
    height: 10%;
    width: 100%;
    border-radius: 50px;
    display: flex;
    justify-content:center;
}
p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* #stylefooter2{
     margin-right: 150px;
     margin-top: 50px;
}  */
#website{
    font-size: 20px;
    text-align: center;
}